<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="autodetect">

	<import resource="classpath:org/tools/hqlbuilder/test/properties.xml"/>

	<import resource="classpath:org/tools/hqlbuilder/service/applicationContext.xml"/>

	<bean id="hqlServiceClient" class="org.tools.hqlbuilder.client.HqlServiceClient" scope="singleton" lazy-init="false"/>

</beans>