<?xml version="1.0" encoding="UTF-8"?>
<included>
	<!-- per run wordt een file aangemaakt, oude files worden niet verwijderd -->
	<appender name="FILE_BY_RUN" class="ch.qos.logback.core.FileAppender">
		<file>${location}/${file}-${bySecond}.log</file>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!-- async versie -->
	<appender name="ASYNC_FILE_BY_RUN" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_BY_RUN" />
	</appender>
</included>
