<included>
	<timestamp key="byDay" datePattern="yyyyMMdd"/>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<conversionRule conversionWord="web" converterClass="org.wicketstuff.logback.WicketWebFormattingConverter" />
	<property name="pattern" value="%date{HH:mm:ss.SSS}|%-5level|%thread|%web| \\(%class.java:%line\\) |%message%n"/>
</included>
