<?xml version="1.0" encoding="UTF-8"?>
<included>
	<appender name="CONSOLE" withJansi="true" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${pattern}</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
			<withJansi>true</withJansi>
		</encoder>
	</appender>
</included>
