<?xml version="1.0" encoding="UTF-8"?>
<included>
	<timestamp key="byDay" datePattern="yyyyMMdd"/>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<property name="pattern" value="%contextName|%date{ISO8601}|%thread|%-5level|%logger| \\(%file:%line\\) |%message%n"/>

	<!-- http://logback.qos.ch/manual -->
	<!--
	${HOSTNAME}
	logger{50}
	class{50}
	%class:%line
	contextName
	date{ISO8601}					2006-10-20 14:06:49,812
	date{HH:mm:ss.SSS}				14:06:49.812
	date{dd MMM yyyy;HH:mm:ss.SSS}	20 oct. 2006;14:06:49.812
	file
	caller{depth}
	line
	message
	method
	n			newline
	level
	relative 	milliseconds since start
	thread
	exception{lines}
	exception{short}
	exception{full}
	XException{lines}
	XException{short}
	XException{full}
	property{key}
	-->

	<!--
		eclipse jansi: http://mihai-nita.net/java/
	-->
	<!-- 
		windows console jansi: in maven
		<profiles>
			<profile>
				<activation>
					<os>
						<family>Windows</family>
					</os>
				</activation>
				<dependencies>
					<dependency>
						<groupId>org.fusesource.jansi</groupId>
						<artifactId>jansi</artifactId>
						<version>1.11</version>
					</dependency>
				</dependencies>
			</profile>
		</profiles>
	 -->
	<property name="jansiPattern" value="%highlight(%-5level) \\(%file:%line\\) %blue([%thread]) %message %n"/>

</included>
