$verticalgutter: 2px;
$horizontal: 4px;
$width: 95%;

.defaultform {
	margin: 2em auto;
	width: $width;

	// feedbackpanel
	.feedbackPanel.ui-state-error {
		font-size: 0.8em;
		margin: 0px;
		padding: 2px 3px 2px 3px;
		display: inline-block;
		list-style-type: none;
	}
	.feedbackPanel.requiredMarker {
		font-size: 1.4em;
		margin: 0px;
		padding: 3px;
		display: inline-block;
		text-shadow: none;
	}

	// overrides reset.css 
	fieldset {
		margin: 2px;
		padding: 0.4em;
		&.formheader,
		&.formfooter  {
			padding: 0px;
			border: none;
			.feedbackPanel {
				display: block;
			}
		}
	}

	.formbody {
		//.block-group { margin: -$verticalgutter -$horizontal; }
		//.block { padding: $verticalgutter $horizontal; }
	
		// formbody fieldsets
		fieldset legend {
			font-weight: 700;
			font-size: 1.2em;
		}
		
		// form row, aka block-group
		.formrow {
			margin-top: 0.4em;
			margin-bottom: 0.4em;
			// form row blocks
			.block {
				// form labels
				.formlabel {
					text-align: right;
					display: block;
					margin-left: 0.5em;
					margin-right: 0.5em;
					font-weight: bold;
					height: 28px;
					line-height: 28px;
				}
				// form input
				&.forminput {
				}
			}
		}

		// default form element width
		div.forminput {
			> .likeinput,
			> select,
			> input[type='text'],
			> input[type='password'],
			> input[type='email'],
			> textarea {
				width: 100%;
			}
			> .pui-dropdown,
			> .pui-spinner,
			> .pui-listbox {
				width: 100% !important;
				> input {
					width: 100% !important;
				}
				> .pui-dropdown-label {
					width: 100% !important;
				}
			}
		}

		// overrides default padding and font size radiobuttonset and multiselectset of jquery-ui
		.multiselectchoice.ui-buttonset .ui-button-text,
		.multiselectchoice .ui-button {
			padding: 3px 5px 3px 5px;
			font-size: 0.8em;
		}
		
		// buttonset
		.likeinput .ui-buttonset > .ui-button {
			padding-top: 4px;
			padding-bottom: 4px;
		}
		
		// tristate
		.tristate {
			height: 28px;
		}

		// spectrum
		.sp-replacer {
			.sp-preview {
				height: 18px;
			}
			.sp-dd {
				height: 18px;
				line-height: 18px;
				vertical-align: top;
				padding: 0px;
			}
		}

		// bootstrap theme fix
		.puispinner.pui-inputtext {
			padding-right: 18px;
		}

		// Prime dropdown arrow fix
		.pui-dropdown.ui-widget > .pui-dropdown-trigger {
			padding: 0px;
		}

		// jqueryui colorpicker
		.jqueryuicolorpicker {
			display: block;
			width: 100%;
			> input {
				width: calc( 100% - 30px );
				display: inline-block;
			}
			> button {
				padding: 2px;
				vertical-align: middle;
				margin: 2px;
				height: 100%;
				width: 24px;
				display: inline-block;
				.jquerycolorpickerbuttonimage {
					width: 16px;
					height: 16px;
				}
			}
		}

		// jquery slider replacing input slider
		.numberslider {
			display: block;
			width: 100%;
			.slider {
				width: calc( 100% - 58px );
				height: 1.6em;
				line-height: 1.6em;
				display: inline-block;
				margin: 2px 10px 2px 7px;
				vertical-align: bottom;
				.ui-slider-handle {
					height: 1.8em;
					top: -1px;
				}
			}
			output {
				display: inline-block;
				width: 40px;
			}
		}

		// primeui checkbox
		.pui-chkbox.ui-widget {
			vertical-align: middle;
			width: 19px;
			height: 19px;
			.pui-chkbox-box.ui-widget {
				width: 18px;
				height: 18px;
			}
		}

		// tag-it
		ul.tagit {
			overflow: hidden;
			margin: 0;
			li.tagit-new {
				padding: 0;
			}
			li.tagit-choice,
			li.tagit-choice-editable {
				padding: 0 16px 0 6px;
			}
			li.tagit-new,
			li.tagit-choice,
			li.tagit-choice-editable {
				width: auto;
				margin: 5px 5px 5px 0;
				line-height: 22px;
				height: 22px;
				input {
					width: auto;
					padding: 0;
					margin: 0;
					line-height: 22px;
					height: 22px;
				}
			}
			li.tagit-new {
				-moz-border-radius: 6px;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				border: 1px solid #CAD8F3;
				width: 50px;
				padding: 0 16px 0 6px;
			}
		}
	}
}