.socialbtn , .socialbar {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	color: #fff;
	padding: 0px;
	margin: .2em;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
	border: none;
	height: 2.2em;
	line-height: 2.2em;
	display: block;
	float: left;
	font-size: 1em;
}
.socialbtn,
.socialbar > :first-child {
	text-align: center;
	width: 2.2em;
}
.socialbar {
	width: 16em;
}
.socialbtn:hover , .socialbar:hover {
	border: none;
	cursor: pointer;
	cursor: hand;
}
.socialbar > :nth-child(n) {
	display: inline-block;
	cursor: pointer;
	cursor: hand;
	position: relative;
}
.socialbar > :not(:first-child) {
	padding-left: .7em;
	padding-right: .7em;
}
.socialbar > :not(:last-child) {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #888;
}