<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<mapping class="org.tools.hqlbuilder.demo.Registration"/>
<mapping class="org.tools.hqlbuilder.demo.Group"/>
<mapping class="org.tools.hqlbuilder.demo.User"/>
<mapping class="org.tools.hqlbuilder.demo.Authority"/>
<mapping class="org.tools.hqlbuilder.demo.GroupAuthority"/>
<mapping class="org.tools.hqlbuilder.demo.Lang"/>
<mapping class="org.tools.hqlbuilder.demo.Member"/>
</session-factory>
</hibernate-configuration>
