<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

	<display-name>hqlbuilder</display-name>
	<description>hqlbuilder</description>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- https://cwiki.apache.org/confluence/display/WICKET/Error+Pages+and+Feedback+Messages -->
	<error-page>
		<error-code>400</error-code>
		<location>/400.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/503.html</location>
	</error-page>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:org/tools/hqlbuilder/common/spring-logback.xml,classpath:org/tools/hqlbuilder/webservice/spring-web-config.xml</param-value>
		<!-- ,classpath:org/tools/hqlbuilder/webservice/security/spring-security-config.xml -->
	</context-param>
	<context-param>
		<param-name>configuration</param-name>
		<param-value>development</param-value> 
		<!--
			deployment
			development
		-->
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/xml</param-value>
	</context-param>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:org/tools/hqlbuilder/common/logback.xml</param-value>
	</context-param>
	<context-param>
		<param-name>logbackConfigContextPathKey</param-name>
		<param-value>contextPath</param-value>
	</context-param>

	<filter>
		<filter-name>char-encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- <filter>
		<filter-name>spring-security-filter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter> -->
	<filter>
		<filter-name>wicket-filter</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.tools.hqlbuilder.webservice.wicket.WicketApplication</param-value>
		</init-param>
	</filter>
	<!-- https://code.google.com/p/wro4j/wiki/SassCssSupport -->
	<!-- <filter>
		<filter-name>WebResourceOptimizer</filter-name>
		<filter-class>
			ro.isdc.wro.http.WroFilter
		</filter-class>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>DEPLOYMENT</param-value>
		</init-param>
		<init-param>
			<param-name>managerFactoryClassName</param-name>
			<param-value>ro.isdc.wro.extensions.manager.ExtensionsConfigurableWroManagerFactory</param-value>
		</init-param>
		<init-param>
			<param-name>uriLocators</param-name>
			<param-value>servletContext,classpath,url</param-value>
		</init-param>
		<init-param>
			<param-name>preProcessors</param-name>
			<param-value>cssUrlRewriting,cssImport,bomStripper,semicolonAppender,sassCss</param-value>
		</init-param>
		<init-param>
			<param-name>postProcessors</param-name>
			<param-value>cssVariables,cssMinJawr,jsMin</param-value>
		</init-param>
	</filter>-->

	<filter-mapping>
		<filter-name>char-encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <filter-mapping>
		<filter-name>spring-security-filter</filter-name>
		<url-pattern>/pages/*</url-pattern>
		<url-pattern>/xml/*</url-pattern>
		<url-pattern>/auth/*</url-pattern>
	</filter-mapping> -->
	<filter-mapping>
		<filter-name>wicket-filter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.wicketstuff.logback.LogbackConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.tools.hqlbuilder.webcommon.ServletContextListener</listener-class>
	</listener>
	<!-- <listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener> -->

	<!-- <servlet>
		<servlet-name>spring-security-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/org/tools/hqlbuilder/webservice/security/spring-security-servlet.xml</param-value>
		</init-param>
	</servlet> -->
	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/org/tools/hqlbuilder/webservice/resteasy/resteasy-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>hqlbuilder-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/org/tools/hqlbuilder/webservice/httpinvoker/httpinvoker-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>

	<!-- <servlet-mapping>
		<servlet-name>spring-security-servlet</servlet-name>
		<url-pattern>/pages/*</url-pattern>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/xml/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hqlbuilder-servlet</servlet-name>
		<url-pattern>/bin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewStatusMessages</servlet-name>
		<url-pattern>/logback</url-pattern>
	</servlet-mapping>

	<session-config>
		<!-- in minutes, '-1' never expires -->
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
