<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<import resource="classpath:org/tools/hqlbuilder/test/properties.xml" />

	<import resource="classpath:org/tools/hqlbuilder/service/applicationContext.xml" />

	<bean id="hqlWebService" class="org.tools.hqlbuilder.service.HqlWebServiceImpl">
		<property name="hqlService" ref="hqlService" />
	</bean>

</beans>