<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/oxm
		http://www.springframework.org/schema/oxm/spring-oxm.xsd
	">

	<context:component-scan base-package="org.tools.hqlbuilder.webservice.resteasy" />

	<import resource="classpath:org/tools/hqlbuilder/webcommon/properties-config.xml" />

	<!-- <import resource="classpath:org/tools/hqlbuilder/webservice/security/spring-security-config.xml"/> -->

	<import resource="classpath:org/tools/hqlbuilder/test/spring-service-config.xml"/>

	<bean id="hqlWebService" class="org.tools.hqlbuilder.webservice.HqlWebServiceImpl" scope="singleton" lazy-init="false">
		<property name="hqlService" ref="hqlService" />
	</bean>
	
	<bean id="hqlWebClient" class="org.tools.hqlbuilder.webclient.HqlWebServiceClient" scope="singleton" lazy-init="false">
		<property name="serviceUrlBuilder">
			<bean class="org.tools.hqlbuilder.webclient.ServiceUrlBuilder">
				<property name="securityProperties" ref="securityProperties"/>
			</bean>
		</property>
		<property name="packages">
			<list><value>org.tools.hqlbuilder.test</value></list>
		</property>
	</bean>

	<bean class="org.tools.hqlbuilder.webservice.RestEasyProvidersBean" init-method="register">
		<property name="providers">
			<list>
				<bean class="org.tools.hqlbuilder.webcommon.resteasy.JAXBContextResolver"><constructor-arg><list><value>org.tools.hqlbuilder.test</value></list></constructor-arg></bean>
			</list>
		</property>
	</bean>

</beans>