
/* default form */
.feedbackPanel.ui-state-error {
	font-size: 0.8em;
	margin: 0px;
	padding: 2px 3px 2px 3px;
	display: inline-block;
	list-style-type: none;
}
.feedbackPanel.requiredMarker {
	font-size: 1.4em;
	margin: 0px;
	padding: 3px;
	display: inline-block;
	text-shadow: none;
}
.formlabel {
	text-align: right;
	display: block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-weight: bold;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}
.formheader .feedbackPanel,
.formfooter .feedbackPanel {
	display: block;
}

/* overrides default padding and font size radiobuttonset and multiselectset of jquerui */
.multiselectchoice.ui-buttonset .ui-button-text,
.multiselectchoice .ui-button {
	padding: 3px 5px 3px 5px;
	font-size: 0.8em;
}

/* overrides reset.css */
.defaultform fieldset {
	margin: 2px;
	padding: 0.4em;
}
.defaultform fieldset.formheader,
.defaultform fieldset.formfooter {
	padding: 0px;
	border: none;
}
.defaultform .formbody fieldset legend {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 1.2em;
}

/* spectrum */
.sp-preview {
	height: 18px;
}
.sp-dd {
	height: 18px;
	line-height: 18px;
	vertical-align: top;
	padding: 0px;
}

/* bootstrap theme fix */
.formbody .puispinner.pui-inputtext {
	padding-right: 18px;
}

/* Prime dropdown arrow fix */
.formbody .pui-dropdown.ui-widget > .pui-dropdown-trigger {
	padding: 0px;
}

/* pocketgrid form */
.block-group {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

/* jqueryui colorpicker */
.formbody .jquicolorpicker + button.ui-button.ui-widget.ui-button-text-only {
	padding: 2px;
	vertical-align: middle;
	margin: 2px;
}
.formbody .jquerycolorpickerbuttonimage {
	width: 16px;
	height: 16px;
}

/* jquery slider replacing input slider */
.formbody .slider.ui-slider-horizontal {
	width: 150px;
	height: 1.6em;
	line-height: 1.6em;
	display: inline-block;
	margin-left: 6px;
	margin-right: 8px;
	vertical-align: bottom;
	margin-top: 3px;
}
.formbody .slider.ui-slider-horizontal .ui-slider-handle {
	height: 1.8em;
	top: -1px;
}

/* primeui checkbox */
.formbody .pui-chkbox.ui-widget {
	vertical-align: middle;
	width: 19px;
	height: 19px;
}
.formbody .pui-chkbox-box.ui-widget {
	width: 16px;
	height: 16px;
}

/* default form element width */
.formbody select,
.formbody .pui-inputtext:not(textarea),
.formbody input:not([type=submit]):not([type=reset]):not([type=button]) {
	width: 260px;
}