/* https://www.google.com/fonts */
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

/* http://www.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/ */
/*Baskerville, ‘Times New Roman’, Times, serif*/
/*Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif*/
/*Geneva, ‘Lucida Sans’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif*/
/*GillSans, Calibri, Trebuchet, sans-serif*/

body {
	font-size: 12px;
	font-family: Lato, Geneva, ‘Lucida Sans’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*
* {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
*/

/*
* {
	background-repeat: no-repeat;
}
*/

.transparentbg {
	background-color : transparent !important;
}

/* http://css-tricks.com/universal-overflow-auto */
/*Georgia, Times, ‘Times New Roman’, serif*/
/*Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif*/
/*Tahoma, Verdana, Geneva*/
/*Trebuchet, Tahoma, Arial, sans-serif*/
h1, h2, h3, h4, h5 {
	font-family: Lato, Geneva, ‘Lucida Sans’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	padding: 0px;
	font: 10px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
}

/* rotation animation */
@-webkit-keyframes rotate {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotate {
  from { -moz-transform:rotate(0deg); }
  to { -moz-transform:rotate(360deg); }
}
@-ms-keyframes rotate {
  from { -ms-transform:rotate(0deg); }
  to { -ms-transform:rotate(360deg); }
}
@-o-keyframes rotate {
  from { -o-transform:rotate(0deg); }
  to { -o-transform:rotate(360deg); }
}
.rotatingslower,
.rotating,
.rotatingfaster {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transform-origin: 50% 50%;
  -moz-animation-name: rotate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-transform-origin: 50% 50%;
  -ms-animation-name: rotate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transform-origin: 50% 50%;
  -o-animation-name: rotate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.rotatingfaster {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
}
.rotating {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
}
.rotatingslower {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
}

/* class="tooltip" title="tooltiptext" */
.tooltip {
	position: relative;
}
.tooltip:before,.tooltip:after {
	position: absolute;
	transition: All 0.5s ease;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	margin-left: -100px;
	left: 50%;
	bottom: 300%;
	display: block;
	color: #000;
	opacity: 0;
}
.tooltip:before {
	content: attr(title);
	border: solid 1px #0088cc;
	background: #FFF;
	width: 200px;
	text-align: center;
	z-index: 2;
	font-size: 13px;
	line-height: 18px;
	padding: 5px;
}
.tooltip:after {
	content: '\25c6';
	margin-left: 0;
	margin-top: 10px;
	width: 15px;
	height: 15px;
	z-index: 1;
	line-height: 28px;
	color: #0088cc;
	font-size: 20px;
}
.tooltip:hover:before,.tooltip:hover:after {
	bottom: 150%;
	opacity: 1;
}

/* hyperlink */
a.link {
	outline: none;
	text-decoration: none;
	color: #1E608E;
	border-bottom: none;
}

.ui-widget a {
	border: none;
}

/* the normal state of a hyperlink */
a.link:link {
	color: #1E608E;
}

/* when the link has been visited before */
a.link:visited {
	color: #1E608E;
}

/* when the user hovers their mouse over a link */
a.link:hover {
	color: #1E608E;
	border-bottom: 1px solid;
}

/* when the user clicks on the link (or presses the Enter key on a focused link) */
a.link:active {
	color: #1E608E;
}

/* when the user uses the Tab key to navigate to hyperlinks */
a.link:focus {
	color: #1E608E;
	border-bottom: 1px solid;
}

/* default form */
.feedbackPanel.ui-state-error {
	font-size: 0.8em;
	margin: 0px;
	padding: 2px 3px 2px 3px;
	display: inline-block;
	list-style-type: none;
	text-shadow: none;
}
.feedbackPanel.requiredMarker {
	font-size: 1.4em;
	margin: 0px;
	padding: 3px;
	display: inline-block;
	text-shadow: none;
}
.formlabel {
	text-align: right;
	display: block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-weight: bold;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}
.formheader .feedbackPanel,
.formfooter .feedbackPanel {
	display: block;
}

/* fileupload */
.fileupload {
	overflow: hidden;
	position: relative;
}
.fileupload input[type='file'] {
	cursor: pointer;
	display: block;
	font-size: 0px;
	filter: alpha(opacity = 0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

/* overrides default padding and font size radiobuttonset and multiselectset of jquerui */
.multiselectchoice.ui-buttonset .ui-button-text,
.multiselectchoice .ui-button {
	padding: 3px 5px 3px 5px;
	font-size: 0.8em;
}

/* overrides reset.css */
fieldset {
	border: 0;
}

/* spectrum */
.sp-preview {
	height: 18px;
}
.sp-dd {
	height: 18px;
	line-height: 18px;
	vertical-align: top;
	padding: 0px;
}

/* bootstrap theme fix */
.puispinner.pui-inputtext {
	padding-right: 18px;
}

/* Prime dropdown arrow fix */
.pui-dropdown.ui-widget > .pui-dropdown-trigger {
	padding: 0px;
}

/* pocketgrid form */
.block-group {
	margin-top: 2px;
	margin-bottom: 2px;
}

/* jqueryui colorpicker */
.jquicolorpicker + button.ui-button.ui-widget.ui-button-text-only {
	padding: 2px;
}
.jquerycolorpickerbuttonimage {
	width: 16px;
	height: 16px;
}

/* jquery slider replacing input slider */
.slider.ui-slider-horizontal {
	width: 150px;
	display: inline-block;
	margin-left: 6px;
	margin-right: 10px;
}