<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <util:list id="packagesToScan">
        <value>org.tools.hqlbuilder.demo</value>
    </util:list>

	<import resource="classpath:org/tools/hqlbuilder/service/demo/spring-webservice-demo-context.xml" />

	<bean id="hqlServiceClient" class="org.tools.hqlbuilder.client.HqlServiceClientImpl" scope="singleton" lazy-init="false">
		<property name="hqlService" ref="hqlService"/>
	</bean>

</beans>