<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
	">

	<util:properties id="hqlAppProperties">
		<prop key="shortcutIcon">/hqlbuilder/bricks-icon.png</prop>
	</util:properties>
	<bean id="hqlAppPropertiesConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="hqlAppProperties" />
	</bean>
	<bean id="shortcutIcon" class="java.lang.String"><constructor-arg value="${shortcutIcon}"/></bean>

	<import resource="classpath:org/tools/hqlbuilder/common/spring-logback.xml"/>

	<context:component-scan base-package="org.jhaws.common.web.resteasy,org.tools.hqlbuilder.webcommon.resteasy,org.tools.hqlbuilder.webservice.resteasy,org.tools.hqlbuilder.webservice.resteasy.resources" />

	<import resource="classpath:org/tools/hqlbuilder/webcommon/properties-config.xml" />

	<import resource="classpath:org/tools/hqlbuilder/service/demo/spring-service-demo-context.xml"/>

	<bean id="hqlWebService" class="org.tools.hqlbuilder.webservice.HqlWebServiceImpl" scope="singleton" lazy-init="false">
		<property name="hqlService" ref="hqlService" />
	</bean>

	<bean id="jaxbContextResolver" class="org.tools.hqlbuilder.webcommon.resteasy.JAXBContextResolver">
		<constructor-arg><list><value>org.tools.hqlbuilder.demo</value></list></constructor-arg>
	</bean>

	<bean id="resteasyProvidersBean" class="org.tools.hqlbuilder.webcommon.ResteasyProvidersBean" init-method="register" scope="singleton" lazy-init="false">
		<property name="providers">
			<list>
				<ref bean="jaxbContextResolver"/>
			</list>
		</property>
	</bean>

	<bean id="hqlWebClient" class="org.tools.hqlbuilder.webclient.HqlWebServiceClient" scope="singleton" lazy-init="false">
		<property name="serviceUrlBuilder">
			<bean class="org.tools.hqlbuilder.webclient.ServiceUrlBuilder">
				<property name="webProperties" ref="webProperties"/>
			</bean>
		</property>
		<property name="resteasyProvidersBean" ref="resteasyProvidersBean"/>
	</bean>

	<bean id="exampleService" class="org.tools.hqlbuilder.webservice.services.ServiceImpl" scope="singleton" lazy-init="false">
	</bean>

</beans>