body {
	background: #ededed;
	color: #000;
	margin: 0px;
}

::-webkit-input-placeholder {
	padding: 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
	padding: 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
	padding: 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

:-ms-input-placeholder {
	padding: 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

.toright {
	position: relative;
	float: right;
}

.toleft {
	position: relative;
	float: left;
}

.topbar {
	position: absolute;
	top: 0px;
	padding-bottom: 5px;
	margin-top: 5px;
	border-bottom: solid 1px #b7b7b7;
	width: 100%;
}

form input[type='text'],input[type='password'] {
	vertical-align: middle;
	width: 150px;
	height: 16px;
	padding: 3px 6px 3px 6px;
	margin: 0px 0px 0px 0px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form input[type='text']:focus,input[type='password']:focus {
	border-color: #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

form input[type='text']:hover,input[type='password']:hover {
	border-color: #A3A3A3;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

form input[type='submit'] {
	vertical-align: middle;
	width: auto;
	height: 24px;
	padding: 3px 15px 3px 15px;
	margin: 0px 3px 0px 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	color : #606060;
	border: solid 1px #b7b7b7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	color: #606060;
}

form input[type='submit']:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
}

form input[type='submit']:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#fff));
	background: -moz-linear-gradient(top, #ededed, #fff);
}

form label {
	color: #919191;
	vertical-align: middle;
	font-style: bold;
}

.topbar {
	color: #919191;
	font-style: bold;
}

button {
	vertical-align: middle;
	width: auto;
	height: 24px;
	padding: 3px 15px 3px 15px;
	margin: 0px 3px 0px 3px;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	color : #606060;
	border: solid 1px #b7b7b7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	color: #606060;
}

button:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
}

button:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#fff));
	background: -moz-linear-gradient(top, #ededed, #fff);
}
