<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<!-- 
	<appender name="CLIENT" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/logs/hqlbuilder.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %5p (OC) (%c) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<logger name="org.hibernate">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.id.IdentifierGeneratorFactory">
		<level value="error" />
	</logger>
	<logger name="org.hibernate.hql">
		<level value="debug" />
	</logger>
	<logger name="org.hibernate.hql.ast">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.hql.ast.QueryTranslatorImpl">
		<level value="debug" />
	</logger>
	<logger name="org.hibernate.hql.antlr">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate.type">
		<level value="off" />
	</logger>
	<logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog">
		<level value="off" />
	</logger>
	<logger name="org.hibernate.LazyInitializationException">
		<level value="off" />
	</logger>
	<root>
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="CLIENT" /> -->
	</root>
</log4j:configuration>
